<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Plugin Tests">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<coverage includeUncoveredFiles="true">
		<include>
			<file>developry-wp-hidden-plugins.php</file>
		</include>
		<report>
			<html outputDirectory="tests/coverage"/>
		</report>
	</coverage>
</phpunit>
